<%- include('./partials/header.ejs') %> 
<div class="container-fluid mt-4">
    <div class="container w-75">
        <h3><%= error.status %></h3> 
        <p> <%= error.message %></p>
    </div>
</div> 
    <%- include('./partials/footer.ejs') %> 