<%- include('./partials/header.ejs') %>    
<div class="container-fluid mt-4">
    <div class="container w-75">
        <h3>Welcome to Catland</h3>
        <p>
            Catland is an inclusive and diverse group of cat lovers who are passionate about cats and their welfare. 
            We are a non-profit organization that aims to promote the welfare of cats and to educate the public about 
            the importance of cats in our society. We are a group of volunteers who are dedicated to the welfare of 
            cats and we are always looking for new members to join our team. Here you will find information about 
            cat-related events and cat owner meetups as well as information to new cat owners.
        </p>

        <p>We love all things cat-related, especially that they're fluffy!</p>
    </div>
</div>
<%- include('./partials/footer.ejs') %>   