<%- include('../partials/header.ejs') %>
<div class="container-fluid mt-4">
  <div class="container w-75">
    <h3>About Us</h3>
    <p>
        Welcome to Catland, the ultimate destination for cat lovers! Our website is 
        dedicated to providing a platform where cat enthusiasts can share information 
        about upcoming cat-related events in their local communities.
        At Catland, we understand the special bond between humans and their feline friends. 
        That's why we've created a space where cat lovers can connect and stay up-to-date 
        with the latest events happening in their area. Whether you're looking for a cat 
        adoption event, a cat cafe meet-up, or a cat-themed fundraiser, Catland is the 
        go-to resource for all things cat-related. Our mission at Catland is to create a 
        community of like-minded individuals who share a passion for cats. We believe that cats bring joy and happiness to our lives and that they deserve to be celebrated. Through our website, we aim to promote the well-being of cats by raising awareness about their care, advocating for their rights, and supporting local animal welfare organizations.
        We strive to make our website easy to use and navigate, so you can quickly find the 
        information you need. Our team is dedicated to ensuring that our site is up-to-date 
        with the latest events and information, so you never miss a chance to connect with 
        other cat lovers in your area.
    </p>
    <p>
        Thank you for choosing Catland as your go-to 
        source for all things cat-related. We hope you find our website informative, 
        engaging, and fun. Join our community today and let's celebrate the joy of cats together!
    </p>
  </div>
</div> 
<%- include('../partials/footer.ejs') %>